.building-card{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 20px;
    .icon{
        background-color:#0d6efd ;
        height: 48px;
        width: 48px;
        border-radius: 10px;
        display: grid;
        place-items: center;
        i{
            font-size: 24px;
            color: #fff;
        }
        
        
    }
}